.ColorPicker {
  --size1: 256px;
  --size2: 40px;
  box-sizing: border-box;
}
.ColorPicker * {
  box-sizing: border-box;
}

.ColorPicker {
  width: calc(var(--size1) + var(--size2) + 2px);
  height: calc(var(--size1) + var(--size2) + 2px);
  position: relative;
  border: solid 2px #bebebe;
}
.ColorPicker div {
  position: absolute;
}
.ColorPicker .colors {
  width: calc(var(--size1));;
  height: calc(var(--size1));;
  position: absolute;
  overflow: hidden;
}
.ColorPicker .colorGroup {
  height: calc(var(--size1));
  width: calc(var(--size2));
  margin-right: -2px;
  border-left: inherit;
  right: 0;
}
.ColorPicker .alphaChannel {
  height: var(--size2);
  width: var(--size1);
  margin-bottom: -2px;
  border-top: inherit;
  bottom: 0;
}

.ColorPicker .pickedColor {
  background-color: rgba(0, 0, 255, 0.4);
  height: calc(var(--size2) - 2px);
  width: calc(var(--size2) - 2px);
  border-top: inherit;
  border-left: inherit;
  bottom: 0;
  right: 0;
}

.ColorPicker .colors .picker {
  border: solid #fff 1px;
  border-radius: 50%;
  outline: solid #000 1px;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 3;
}
.ColorPicker .colorGroup .picker,
.ColorPicker .alphaChannel .picker {
  border: solid 2px rgba(0, 0, 0, 0.75);
  position: absolute;
  cursor: grab;
  padding: 1px;
}

.ColorPicker .colorGroup .picker {
  width: calc(100% - 2px);
  height: 2px;
  top: 0;
}
.ColorPicker .alphaChannel .picker {
  height: calc(100% - 2px);
  width: 2px;
  left: 50%;
}
