.ColorPicker {
  display: grid;
  grid-template-columns: 256px 40px;
  grid-template-rows: 256px 40px;
  grid-gap: 4px;
  box-sizing: border-box;
  border: solid 4px #bebebe;
  background-color: #bebebe;
  box-sizing: border-box;
  width: fit-content;
}
.ColorPicker * {
  box-sizing: border-box;
}
.ColorPicker .colors {
  grid-area: 1 / 1 / 2 / 2;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}
.ColorPicker .colors .gradient1,
.ColorPicker .colors .gradient2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ColorPicker .colors .gradient1 {
  background: linear-gradient(to left, rgb(255, 0, 0), transparent);
}
.ColorPicker .colors .gradient2 {
  background: linear-gradient(0deg, #000, transparent);
}
.ColorPicker .colorGroup {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
  background: linear-gradient(
    to top,
    rgb(255, 0, 0) 0%,
    rgb(255, 255, 0) 17%,
    rgb(0, 255, 0) 33%,
    rgb(0, 255, 255) 50%,
    rgb(0, 0, 255) 66%,
    rgb(255, 0, 255) 83%,
    rgb(255, 0, 0) 100%
  );
}
.ColorPicker .alphaChannel {
  background-color: #fff;
  grid-area: 2 / 1 / 3 / 2;
  position: relative;
}

.ColorPicker .pickedColor {
  background-color: rgba(0, 0, 255, 0.4);
  grid-area: 2 / 2 / 3 / 3;
}
.ColorPicker .picker {
  position: absolute;
}
.ColorPicker .colors .picker {
  border: solid #fff 1px;
  border-radius: 50%;
  outline: solid #000 1px;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 3;
}
.ColorPicker .colorGroup .picker,
.ColorPicker .alphaChannel .picker {
  border: solid 2px rgba(0, 0, 0, 0.75);
  position: absolute;
  cursor: grab;
}

.ColorPicker .colorGroup .picker {
  width: calc(100% + 4px);
  height: 6px;
  transform: translate(-2px, -2px);
  top: 0;
}
.ColorPicker .alphaChannel .picker {
  height: calc(100% + 4px);
  width: 6px;
  transform: translate(-2px, -2px);
  left: 50%;
}
