.ColorPicker {
  --size1: 85%;
  --size2: 15%;
}

.ColorPicker {
  width: 250px;
  height: 250px;
  position: relative;
  border: solid 2px #bebebe;
}
.ColorPicker div {
  position: absolute;
}
.ColorPicker .colors {
  position: absolute;
  width: calc(var(--size1) - 2px);
  height: calc(var(--size1) - 2px);
  overflow: hidden;
}
.ColorPicker .colors [class*="colorGradient"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ColorPicker .colors .colorGradient1 {
  background: linear-gradient(0deg, rgba(0, 0, 0) 0%, transparent 100%);
  z-index: 2;
}
.ColorPicker .colors .colorGradient2 {
  background: linear-gradient(270deg, rgba(0, 0, 255) 0%, transparent 100%);
  z-index: 1;
}
.ColorPicker .colorGroup {
  height: calc(var(--size1) - 2px);
  width: var(--size2);
  border-left: inherit;
  right: 0;
}
.ColorPicker .alphaChannel {
  height: var(--size2);
  width: var(--size1);
  border-top: inherit;
  bottom: 0;
}

.ColorPicker .pickedColor {
  background-color: rgba(0, 0, 255, 0.4);
  height: var(--size2);
  width: var(--size2);
  border-top: inherit;
  border-left: inherit;
  bottom: 0;
  right: 0;
}

.ColorPicker .colors .picker {
  border: solid #fff 1px;
  border-radius: 50%;
  outline: solid #000 1px;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 3;
}
.ColorPicker .colorGroup .picker,
.ColorPicker .alphaChannel .picker {
  border: solid 2px rgba(0, 0, 0, 0.75);
  position: absolute;
  cursor: grab;
}

.ColorPicker .colorGroup .picker {
  width: calc(100% - 4px);
  height: 2px;
  top: 0;
}
.ColorPicker .alphaChannel .picker {
  height: calc(100% - 4px);
  width: 2px;
  left: 50%;
}
