.ColorPicker {
  display: grid;
  grid-template-columns: 256px 40px;
  grid-template-rows: 256px 40px;
  grid-gap: 2px;
  box-sizing: border-box;
  border: solid 2px #bebebe;
  background-color: #bebebe;
  box-sizing: border-box;
  width: fit-content;
}
.ColorPicker * {
  box-sizing: border-box;
}
.ColorPicker .colors {
  grid-area: 1 / 1 / 2 / 2;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}
.ColorPicker .colorGroup {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
  background-color: #fff;
}
.ColorPicker .alphaChannel {
  background-color: #fff;
  grid-area: 2 / 1 / 3 / 2;
  position: relative;
}

.ColorPicker .pickedColor {
  background-color: rgba(0, 0, 255, 0.4);
  grid-area: 2 / 2 / 3 / 3;
}
.ColorPicker .picker {
  position: absolute;
}
.ColorPicker .colors .picker {
  border: solid #fff 1px;
  border-radius: 50%;
  outline: solid #000 1px;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 3;
}
.ColorPicker .colorGroup .picker,
.ColorPicker .alphaChannel .picker {
  border: solid 2px rgba(0, 0, 0, 0.75);
  position: absolute;
  cursor: grab;
  padding: 1px;
}

.ColorPicker .colorGroup .picker {
  width: 100%;
  height: 2px;
  top: 0;
}
.ColorPicker .alphaChannel .picker {
  height: 100%;
  width: 2px;
  left: 50%;
}
